html,
body {
  background-color: rgb(255, 252, 237);
  overflow-x: hidden;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

video {
  display: block;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 244, 210);
}

nav a {
  list-style-type: none;
  text-decoration: none;
  margin-left: 1%;
  margin-right: 1%;
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  padding: 20px;
}

nav a:hover {
  background-color: rgb(255, 227, 175);
}

.video-controls button {
  width: 36px;
  height: 36px;
  background-color: rgb(255, 126, 51);
  border-style: none;
  border-radius: 2em;
  margin-right: 1%;
  margin-top: 1%;
}

.video-controls button:hover {
  background-color: rgb(221, 100, 30);
}

.video-controls img {
  margin-left: auto;
  margin-right: auto;
}

.buttonwrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.left {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 0;
  flex: 1;
}

header {
  font-family: "Pacifico", cursive;
  color: rgb(255, 126, 51);
  font-size: 35px;
  margin: 1%, 1%, 1%, 0;
}

.title {
  display: flex;
  justify-content: flex-start;
  margin-top: 5%;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 40px;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.description,
.heading {
  width: 60%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px rgb(168, 168, 168);
}

.progress-bar {
  width: 100%;
  height: 15px;
  background-color: #e5e5cb68;
  margin-top: 10px;
  overflow: hidden;
  transform-origin: 0 100%;
  border-radius: 16px;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: coral;
  width: 0;
  transition: width 0.3s ease;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.column2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
}

.heading h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin-top: 2%;
}

.description h1 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 30px;
}

.description p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 2%;
}

.description ul {
  list-style-type: square;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.description button {
  width: 50%;
  height: 100%;
  background-color: rgb(255, 126, 51);
  border: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}

.description button {
  width: 50%;
  height: 100%;
  background-color: rgb(255, 126, 51);
  border: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}

.description button:hover {
  background-color: rgb(221, 100, 30);
}

footer {
  display: flex;
  background-color: rgb(36, 34, 34);
  padding-top: 30px;
  padding-bottom: 30px;
}

footer .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

footer .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

footer p,
footer ul {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  padding-left: 10%;
}
