body{
    background-color: rgb(252, 244, 220);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: none;
  }

.row {
  display: flex;
}

h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}
img {
  height: 500px;
}

#stageContainer {
    background-color: white;
    width: 800px;
    height: 500px;
    border: 1px solid #ccc;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  background-color: rgb(68, 68, 68);
  border: 3px solid rgb(137, 137, 137);
  border-radius: 2em;
  padding: 20px;
}


button {
  background-color: #cfcfcf;
  display: flex;
  height: 80px;
  width: 80px;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 2em;
  transition-duration: 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #848484;
}


.tempoControl {
  display: flex;
  font-family:Arial, Helvetica, sans-serif;
}

#tempoDisplay {
  display: inline-block;
  width: 3ch;
  text-align: right;
}

.vol {
  display: flex;
  justify-content: center;
  align-items: center;
}

#volDisplay {
  display: inline-block;
  width: 3ch;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
}
.shapeSelector {
  width: 100%;
  display: flex;
}

.changeShape:focus {
background-color: #767676;
transform: rotateX(20deg) translateY(5px);
}

.playbackOptions {
  width: 100%;
  display: flex;
}

.secondRow {
  display: flex;
  margin-top: 1%;
  justify-content: center;
  align-items: center;
}

#saveImg {
  width: 60px;
}

#resetImg {
  width: 60px;
}

@keyframes bounce {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.speaker-bounce {
  animation: bounce 0.2s;
  transition: all 0.3s cubic-bezier(0.05, 0.95, 0.43, 0.95);
}