body {
  background: #0b1215;
}

nav {
  overflow: hidden;
  border-bottom-style: solid;
  border-color: white;
  border-width: 1px;
}

nav h1 {
  display: block;
  color: White;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

h2 {
  font-size: 50px;
  text-align: center;
}

.Question {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0, 10px, 0, 10px;
  border-bottom-style: solid;
}

h3 {
  padding: 10px;
  color: white;
  font-size: 20px;
}

p {
  padding-bottom: 2%;
  color: white;
  font-size: 14px;
}
