body {
}

nav {
  overflow: hidden;
  background: #162a36;
  background: linear-gradient(90deg, #162a36 0%, #284251 35%, #317089 100%);
  filter: drop-shadow(0 0 0.2rem black);
}

nav h1 {
  display: block;
  color: White;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

h2 {
  font-size: 50px;
  text-align: center;
}

.Question {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0, 10px, 0, 10px;
  border-radius: 10px;
  background: linear-gradient(90deg, #162a36 0%, #284251 35%, #317089 100%);
}

h3 {
  padding: 10px;
  color: white;
  font-size: 20px;
}

p {
  padding-bottom: 2%;
  color: white;
  font-size: 14px;
}
