body {
    background-color: rgb(159, 196, 218);
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
  overflow-x: hidden;
    max-height: 100vh;
}
.hero img {
    width: 100vw;
    height: auto;
    object-fit: cover;
}

.info {
    position: absolute;
    top: 70vh;;
    right: 10vw;;
}

.info h1 {
    background-color: white;
    padding-left: 1vw;
    padding-right: 1vw;
  font-family: "Bitter", serif;
  font-weight: 300;
    font-size: 100px;
    margin-bottom: 0.5vh;;
}

.info h3 {
    background-color: white;
    padding-left: 1vw;
    padding-right: 1vw;
  font-family: "Bitter", serif;
  font-weight: 100;
    font-size: 30px;
    margin: 0;
}