body {
  height: 100vh;
  overflow: hidden;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  width: 360px;
  height: 550px;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  backface-visibility: hidden;
}

.card:nth-child(1) {
  position: absolute;
  transform: translatex(-2%) rotate(-3deg);
}

.card:nth-child(2) {
  position: absolute;
  transform: translatex(5%) rotate(6deg);
}

.card:nth-child(3) {
  position: absolute;
  transform: translatex(-2%) rotate(-10deg);
}

.card:nth-child(4) {
  position: absolute;
  transform: translatex(6%) rotate(3deg);
}

.card-container:hover > .card {
  cursor: pointer;
  transition: transform 0.6s cubic-bezier(0, 0.55, 0.45, 1);
}

.card-container:hover > .card:nth-child(1) {
  transform: translate(-100%);
}

.card-container:hover > .card:nth-child(2) {
  transform: translate(100%);
}

.card-container:hover > .card:nth-child(3) {
  transform: translate(-200%);
}

.card-container:hover > .card:nth-child(4) {
  transform: translate(200%);
}

.card-container > .card:hover {
  transform: scale(110%);
}

.card-container > .card:hover:nth-child(1) {
  transform: scale(110%);
}

.card-container:hover > .card.is-flipped {
  scale: 110%;
  transition: transform 0.6s ease;
  transform: rotateY(180deg);
  z-index: 1;
}

.card-container:hover > .card:nth-child(1).is-flipped {
  transition: transform 0.6s ease;
  transform: rotateY(180deg);
  z-index: 1;
}

.card-container:hover > .card:nth-child(2).is-flipped {
  transition: transform 0.6s ease;
  transform: rotateY(180deg);
  z-index: 1;
}

.card-container:hover > .card:nth-child(3).is-flipped {
  transition: transform 0.6s ease;
  transform: rotateY(180deg);
  z-index: 1;
}

.card-container:hover > .card:nth-child(4).is-flipped {
  transition: transform 0.6s ease;
  transform: rotateY(180deg);
  z-index: 1;
}

.card-back {
  transform: rotateY(180deg);
}

/* .card {
  position: absolute;
  transition: transform 0.6s cubic-bezier(0, 0.55, 0.45, 1);
}

.card:nth-child(1) {
  transform: translatex(-10%) rotate(-6deg);
}

.card:nth-child(2) {
  transform: translatex(10%) rotate(6deg);
}

.card:nth-child(3) {
  transform: translatex(-5%) rotate(-3deg);
}

.card:nth-child(4) {
  transform: translatex(5%) rotate(3deg);
}

.card-container:hover > .card:nth-child(1) {
  transform: translate(-80%, 15%) rotate(-21deg);
}

.card-container:hover > .card:nth-child(2) {
  transform: translate(80%, 15%) rotate(21deg);
}

.card-container:hover > .card:nth-child(3) {
  transform: translate(-35%, 5%) rotate(-15deg);
}

.card-container:hover > .card:nth-child(4) {
  transform: translate(35%, 5%) rotate(15deg);
}

.card:hover {
  scale: 107%;
  transition: scale 0.6s cubic-bezier(0, 0.55, 0.45, 1);
} */
