body {
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;
  background-color: #e4ded1;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10%;
  margin-top: 1%;
  color: rgb(0, 0, 0);
  align-items: center;
  font-family: "Atkinson Hyperlegible Next", serif;
  font-weight: 30;
  font-size: 18px;
}

.logo {
  font-size: 24px;
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
}

.selection a{
  margin-left: 1rem;
}

.medium {
  margin-top: 3%;
  font-family: "Atkinson Hyperlegible Next", serif;
  font-weight: 30;
  font-size: 50px;
  color: black;
  display: flex;
  flex-direction: column;
}

.footer {
  color: white;
  font-size: 24px;
  font-family: "Atkinson Hyperlegible Next", serif;
}