body {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}
.column1 {
  background-color: white;
  margin-left: 5%;
  margin-right: 2%;
}

.column2 {
  background-color: gray;
  margin-right: 5%;
}

nav {
  padding-top: 1%;

  display: flex;
  border: 1px solid red;
}
