body {
  width: 100%;
  background-color: #191919;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  color: white;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 1%;
}

.logo {
  font-size: 34px;
  font-family: "Instrument Serif", serif;
}

.footer {
  color: white;
  font-size: 24px;
  font-family: "Instrument Serif", serif;
}