@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #fdf4df;
    overscroll-behavior-y: none;
}

.title {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 1%;
    border-bottom: 2px solid black;
    background-color: #fdf4df;
    height: 10vh;
    z-index: 1;
}

wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

nav {
    position: sticky;
    top: 10vh;
    left: 0;
    background-color: #fdf4df;
    height: 90vh;
    display: flex;
    flex-direction: column;
    
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    height: 100%;
    text-decoration: none;
    color: black;
}

.button:hover {
    background-color: #f8deb8;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.content {
    flex-direction: column;
}

.qns {
    position: relative;
    padding-right: 10%;
    padding-left: 1%;
    margin-top: 1%;
    padding-bottom: 3%;
    border-bottom: 2px solid black;

}

.anchor {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    top: -10.7vh;
    left: 0;
    visibility: hidden;
}

h3 {
    font-size: 25px;
}

p {
    padding-top: 1%;
    font-size: 18px;
}