@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #fdf4df;
    display: flex;
    flex-direction: column;
}

.title {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 1%;
    border-bottom: 2px solid black;
    overflow: hidden;
    height: 10vh;
}
wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

nav {
    position: sticky;
    height: 90vh;
    display: flex;
    flex-direction: column;
    
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    height: 100%;
    text-decoration: none;
    color: black;
}

.button:hover {
    background-color: #f8deb8;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.content {
    flex-direction: flex-end;
}

.qns {
    padding-left: 1%;
    margin-top: 1%;
    padding-bottom: 3%;
    border-bottom: 2px solid black;
}