* {
  color: hotpink;
}

/* my brand color is lime so i made h1 lime */

h1 {
  color: lime;
}

p,
h1 {
  color: blueviolet;
}

li {
  color: black;
}

li strong {
  color: black;
}

.my-color {
  color: crimson;
}

#instructor {
  color: purple;
}

#lastcolor {
  color: yellowgreen;
}

[data-email="email"] {
  color: blue;
}
